{% extends "base.html" %}

{% block content %}

	<p>Current Team Details   : <a href="{{ url_for('showTeams')}}">Link</a></p>
	<p>Admin Dashboard : <a href="/admin" target="_blank">Link</a> (access for admin logged in users)</p>

	<div>
		<h4>API End Points Examples : </h4>
		<p><a href="http://localhost:5000/teams" target="_blank">http://localhost:5000/teams</a></p>
		<p><a href="http://localhost:5000/teams/1" target="_blank">http://localhost:5000/teams/1</a></p>
		<p><a href="http://localhost:5000/teams/111" target="_blank">http://localhost:5000/teams/111 (Invalid Team Id)</a></p>
		<p>
			<a href="http://localhost:5000/teams/1/players" target="_blank">
			http://localhost:5000/teams/1/players
			</a>
		</p>
		<p>
			<a href="http://localhost:5000/teams/1/players/1" target="_blank">
			http://localhost:5000/teams/1/players/1
			</a>
		</p>
		<p>
			<a href="http://localhost:5000/teams/1/players/111" target="_blank">
			http://localhost:5000/teams/1/players/111 (Invalid Player Id)
			</a>
		</p>
		<p>
			<a href="http://localhost:5000/teams/111/players/111" target="_blank">
			http://localhost:5000/teams/111/players/111 (Invalid Team Id)
			</a>
		</p>
	</div>
{% endblock %}